<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.13.5" targetFramework="net452" />
  <package id="Jdenticon-net" version="2.2.1" targetFramework="net452" />
  <package id="KeraLua" version="1.0.22" targetFramework="net452" />
  <package id="Mono.Cecil" version="0.11.1" targetFramework="net452" />
  <package id="MonoMod" version="20.1.1.4" targetFramework="net452" />
  <package id="MonoMod.RuntimeDetour" version="20.1.1.4" targetFramework="net452" />
  <package id="MonoMod.RuntimeDetour.HookGen" version="20.1.1.4" targetFramework="net452" />
  <package id="MonoMod.Utils" version="20.1.1.4" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net452" />
  <package id="NLua" version="1.4.25" targetFramework="net452" />
  <package id="YamlDotNet" version="8.0.0" targetFramework="net452" />
</packages>